{% extends 'theme.html' %}
{% block title%} {{block.super}} | {{ aut }} {% endblock%}
{% block content  %}

    <div class="container">
        
    
        <ul class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">     

            
                
                    <li class="col">
                        <div class="card">
        
                            <img src="..." class="card-img-top" alt="noneIMG">
                            <div class="card-body">
                                
                                <h5 class="card-title">    
                                    {{ aut }}
                                    <p>{{ aut.nazione }}</p>
                                </h5>  
                            {% for libri in aut.articoli.all %}
                                <p class="card-text">{{libri.titolo}}</p>
                                <p class="card-description">{{libri.testo}}</p>
                            {% endfor %}
                            
                            </div>
        
                        </div>
                    </li>
    
                
    
            
        </ul>
            
        
        
    <div>

{% endblock %}
