<!DOCTYPE html>
<html lang="it">
<head>

{% load bootstrap5%}    
<link rel="stylesheet" href="http://casaalmada.hostinggratis.it/doc/css/reset.css">
<link rel="stylesheet" href="css/style.css">

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="js/script.js"></script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Libreria</title>
</head>
<body>

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <ul>
        <li>
            <div class="card">
                sdfdsfd
            </div>
        </li>
    </ul>

</body>
</html>












