<!DOCTYPE html>
<html lang="it">
<head>

{% load bootstrap5%}    
<link rel="stylesheet" href="http://casaalmada.hostinggratis.it/doc/css/reset.css">
<link rel="stylesheet" href="css/style.css">

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="js/script.js"></script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Libreria</title>
</head>
<body>

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <div class="container">
        
    
        <ul class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">     

            
                {% for articoli in art %}
                    <li class="col">
                        <div class="card">
        
                            <img src="..." class="card-img-top" alt="noneIMG">
                            <div class="card-body">
                                
                                <h5 class="card-title">    
                                    <a href="/articoli/{{articoli.id}}">{{ articoli.titolo }}</a>
                                </h5>  
                                
                                <p class="card-text">{{articoli.testo}}</p>
                            
                            </div>
        
                        </div>
                    </li>
    
                {% endfor %}
    
            
        </ul>
            
        
        
    <div>
    
</body>
</html>












